/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* This is where the reset ends*/

/*My messy css starts here, chaotic*/  
.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/*Searchbar div set up */
.searchbar {
    text-align: center;
}
/*Search bar*/
.search {
    border-radius: 30px;
    border: 1px solid;
    width: 600px;
    height: 45px;
    display: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-color: lightgray;
    padding:17px;
    outline: none;
    text-align: center;
    background: url(/magnify.png) no-repeat scroll 10px 10px;
}
/*fun shadow-box thing that I don't really understand fully*/
.search:hover {
    box-shadow:2px 2px 2px 1px rgba(165, 165, 165, 0.24), 0 1px 2px 0 rgba(66, 66, 66, 0.19);
}
  

/* Style logo*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.button1, .button2 {
    border-radius: 5px;
    display: inline-block;
    min-width: 54px;
    height: 34px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 11px 4px 11px 4px;
    background: transparent;
    border-color:transparent;
    background-color: rgba(247, 245, 245, 0.87);
    font-size: 14px;
    text-align: center;
   
}
.button {
    text-align: center;
}
.button1:hover, .button2:hover {
    box-shadow:2px 2px 2px 1px rgba(165, 165, 165, 0.24), 0 1px 2px 0 rgba(66, 66, 66, 0.19);
}
.p {
    text-align: center;
   font-size: 13px;
}

/*Style the color of links on hover*/
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li a {
    color: rgba(54, 54, 54, 0.87);
    display: block;
}
li a:link {
    text-decoration: none;
    padding: 0px 15px;
}
li a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 15px;
}
li {
    float: left;
    
   
}
.country {
    padding: 15px 0px;
    position: fixed;
    bottom: 45px;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.548);
}
.navigation_bottom {
    padding: 15px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.548);
}
.navigation_top {
    font-size: 12px;
    padding: 25px 20px;
    position:fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin-left: -20px;
}
.grid {
    height: 25px;
    width: 25px;
    position: relative;
    bottom:5px;
    padding: 0px 10px;
    border-bottom: 3px solid transparent;
}
.grid:hover {
    height: 25px;
    width: 25px;
    background: rgb(218, 218, 218);
    padding: 1px;
    border-radius: 50%;

}

